body {
    font-family: sans-serif;
    background-color: #232b2b;
    color: #ddd;
}

div {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1em;
    color: #f0c75e;
    text-transform: uppercase;
}

.label {
    color: #ecb939;
    text-transform: uppercase;
}

button {
    padding: 3px 8px;
    background-color: #214428;
    border: 0;
    color: #ddd;
    text-transform: uppercase;
}

button:active {
    background-color: #173f25;
}

button:focus {
    outline: #37563d solid 2px;
    background-color: #1d3d24;
}

.controls .vertical-separator:after {
    content: "|";
    display: inline-block;
    color: #214428;
    padding: 0 10px;
}

input[type="text"] {
    padding: 3px 3px;
    background-color: #9a9b9c;
    border: 0;
}

input[type="text"]:focus {
    outline: #2a623d solid 2px;
}

#game-container {
    float: left;
}

#game-canvas-container {
    min-width: 900px;
    min-height: 450px
}

#info-container {
    float: left; 
    width: 300px;
    overflow: hidden;
}

#game-info {
    font-family: monospace;
    white-space: pre;
    font-size: 14px;
}

#game-info::after {
    content: "";
    display: table;
    clear: both;
}

#game-info > div {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.game-season-summer { color: #f5de74 }
.game-season-autumn { color: #ecb057 }
.game-season-winter { color: #20b2aa }
.game-season-spring { color: #84c76a }

#game-info .cell-title {
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 20px;
}

#game-info .cell-title::after {
    content: "";
    display: table;
    clear: both;
}

#game-info .cell-color {
  float: left;
  width: 20px; 
  height: 20px;
  margin-right: 5px;
  /*border: 1px solid #666;*/
}

#game-info .cell-text {
  float: left;
  line-height: 20px;
  vertical-align: top;
}

#game-info .cell-health-alive { color: #84c76a;}
#game-info .cell-health-dead { color: #a5b2ba;}

#game-info .cell-info-resource {
    max-width: 120px;
    margin-bottom: 10px;
    background-color: #2e3939;
}

#game-info .cell-info-resource-bar {
    padding: 2px 0;
    background-color: #2b4421;
}

#game-info .cell-info-resource-bar.health {
    padding: 2px 0;
    background-color: #416631;
}

#game-info .cell-info-identity {
    max-width: 120px;
    margin-bottom: 10px;
}

#game-info .cell-info-identity-gene {
    display: block; 
}

#game-info .cell-info-identity-gene > div {
    display: inline-block; 
}

#cell-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel {
    margin: 10px;
}

.label {
    float: left;
    width: 15%;
}

.controls {
    float: left;
    width: 85%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}